# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.idea/
.history
.svn/
.idea/

**/doc/api/s
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

